*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/

.debug{
  background-color: #DAA520;
  border: 1px dashed black;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ADD8E6;
  height: 80px;
}

.logo{
  display: flex;
  flex-grow: 1;
  margin-left: 10%;
  width: 20%;
}

.img{
  padding: 10px;
}

nav{
  width: 60%;
  padding: 10px;
}

nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  
}

nav ul li{
  padding: 0px 4px;
}

.login{
  margin-right: 10%;
  padding: 10px;
  width: 20%;
}

.pulsante{
  text-align: right;
}

/*Hero*/

.container-hero{
  background-color: #00008B;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero{
  background-color: #EE82EE;
  border: 1px dashed black;
  width: 945px;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

/*Main*/

.first-section{
  background-color: white;
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-image{
  background-color: #1E90FF;
  border: 1px dashed black;
  width: 750px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first-text{
  background-color: #FFC0CB;
  border: 1px dashed black;
  width: 500px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second-section{
  background-color: #D3D3D3;
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-text{
  background-color: #FFC0CB;
  border: 1px dashed black;
  width: 500px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second-image{
  background-color: #1E90FF;
  border: 1px dashed black;
  width: 750px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.third-section{
  background-color: white;
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-image{
  background-color: #1E90FF;
  border: 1px dashed black;
  width: 750px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.third-text{
  background-color: #FFC0CB;
  border: 1px dashed black;
  width: 500px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fourth-section{
  background-color: #D3D3D3;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourth-container{
  background-color: #228B22;
  border: 1px dashed black;
  width: 1250px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Footer*/

footer{
  background-color: white;
}

.footer-up{
  height: 655px;
  background-color: #23272A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colonna-grande{
  background-color: #F08080;
  border: 1px dashed black;
  width: 375px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.colonna-piccola{
  background-color: #20B2AA;
  border: 1px dashed white;
  width: 215px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-down{
  height: 115px;
  background-color: #23272A;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 1px;
}

.footer-container{
  background-color: #7FFFD4;
  width: 1250px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-logo{
  background-color: #FFB6C1;
  border: 1px dashed black;
  display: flex;
  padding: 5px;
}

.footer-button{
  background-color: #FFB6C1;
  border: 1px dashed black;
  display: flex;
  padding: 5px;
}